body {
    margin:0;
    font-family: arial, sans-serif;
}

h1.title {
    background: black;
    color: white;
    padding: 10px;
}

#input {
    font-family: arial, sans-serif;
    font-size: 30px;
    width: 100%;
    height: 500px;
    border: solid 2px blue;
    overflow: auto;
}

#workspace {
    width: 60%;
    float: left;
}

.main {
    margin: 0 auto;
    width:900px;
}

.container {
    border: solid 2px black;
    overflow: auto;
    padding: 10px;
}

.help_container {
    width: 40%;
    float: left;
}

.help {
    padding-left: 20px;
    font-size: 16px;
}

.calc_line {
    height: 30px;
}

.calc_line .question {
    border: solid 2px transparent;
    border-bottom: dashed 2px grey;
    width: 100%;
    height: 30px;
    font-size: 25px;
}

.calc_line .question:focus {
    outline: 0px solid transparent;
    border: solid 2px grey;
}

.calc_line .equals {
    width: 20px;
    height: 30px;
    text-align: center;
}
.calc_line .answer {
    border: solid 2px black;
    width:100px;
    height:25px;
}